## Data Types

#### Variables

In [1]:
print("hello world")

hello world

In [2]:
msg  = "hello world"
print(msg)

msg = "python"
print(msg)

hello world
python

In [3]:
name = "suraphop"
surname = "bunsawat"
employee_number = "j6639"
emp_number = "j6639"
emp_no = "j6639"
register_date_at = "11/02/2022"
#EmployNumber = "j6639"

#1name
name_1 = "suraphop"
#$name

#### Numberic Types

In [4]:
msg = "4"
type(msg)

str

In [5]:
type(4)

int

In [6]:
type(4.4)

float

In [7]:
float(4)

4.0

In [8]:
int(4.9)

4

### Operator

In [9]:
4+3

7

In [10]:
3.1-2.2

0.8999999999999999

In [11]:
3*4

12

In [12]:
3/4

0.75

In [13]:
3**4

81

In [14]:
3 * (3+4)

21

#### Line Continuation

In [15]:
a = (1+3
    +3)
a

7

In [16]:
a = 1 + 2 \
    +3
a

6

#### Booleans

In [17]:
3 == 4

False

In [18]:
4 == 4

True

In [19]:
3 != 4

True

In [20]:
3 < 4

True

In [21]:
3 <= 4

True

In [22]:
10 < 12 < 17

True

In [23]:
True

True

In [24]:
not True

False

In [25]:
False

False

In [26]:
not False

True

In [27]:
False and True

False

In [28]:
False or True

True

In [29]:
bool("")

False

In [30]:
bool(None)

False

In [31]:
bool("some text")

True

## Comments

In [32]:
# This is a sample we've seen before
3+4

7

In [33]:
3+4 # This is a sample we've seen before

7

In [34]:
'''comment with a single quote'''
"""comment with double quote"""

'comment with double quote'

#### Strings

In [35]:
print("A double quote string" + ' A single quote string.')

A double quote string A single quote string.

In [36]:
print("It's easy to learn python")

It's easy to learn python

In [37]:
msg = "hello world"
msg

'hello world'

In [38]:
first_adjective , second_adjective = "free","open source"
print(first_adjective)
print(second_adjective)

free
open source

In [39]:
first_adjective,_ = "free","open source"
first_adjective

'free'

In [40]:
_, second_adjective = "free","open source"
second_adjective

'open source'

In [41]:
# f-string function
f"Python is {first_adjective} and {second_adjective}"

'Python is free and open source'

In [42]:
"PYTHON".lower()

'python'

In [43]:
"python".upper()

'PYTHON'

## Constant

In [44]:
TEMPERATURE_SCALES = ("fahrenheit",'kelvin',"celsius")
TEMPERATURE_SCALES = ("fahrenheit",'kelvin',"celsius2")

print(TEMPERATURE_SCALES)

('fahrenheit', 'kelvin', 'celsius2')

## Indexing and Slicing

In [45]:
language = "PYTHON"

In [46]:
language[0]

'P'

In [47]:
language[1]

'Y'

In [48]:
language[-1]

'N'

In [49]:
language[-2]

'O'

In [50]:
language[:3]

'PYT'

In [51]:
language[0:3]

'PYT'

In [52]:
language[1:3]

'YT'

In [53]:
language[1:]

'YTHON'

In [54]:
language[-3:]

'HON'

In [55]:
language[-3:-1]

'HO'

In [56]:
language[-5:]

'YTHON'

## Data Structures

#### Lists

In [57]:
file_names = ["one.xlsx","two.xlsx","three.xlsx"]
print(type(file_names))
print(file_names)

<class 'list'>
['one.xlsx', 'two.xlsx', 'three.xlsx']

In [58]:
numbers = [1,2,3]
numbers

[1, 2, 3]

In [59]:
datas = ["one",1,"two",2]
datas

['one', 1, 'two', 2]

In [60]:
file_names + numbers

['one.xlsx', 'two.xlsx', 'three.xlsx', 1, 2, 3]

In [61]:
nested_lists = [
    [1,2,3],
   [4,5,6] ,
    [7,8,9]
]
nested_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [62]:
nested_lists[1]

[4, 5, 6]

In [63]:
nested_lists[1][0]

4

In [64]:
nested_lists[1][1:]

[5, 6]

In [65]:
users = ["linda","Brian"]
users

['linda', 'Brian']

In [66]:
users[0] = "suraphop"
users

['suraphop', 'Brian']

In [67]:
users.append("Jennifer")
users

['suraphop', 'Brian', 'Jennifer']

In [68]:
users.insert(0,"Kim")
users

['Kim', 'suraphop', 'Brian', 'Jennifer']

In [69]:
users.pop()
users

['Kim', 'suraphop', 'Brian']

In [70]:
delete = users.pop(0)
users
print(delete)

Kim

In [71]:
del users[0]
users

['Brian']

#### Working with list

In [72]:
len(users)

1

In [73]:
users.append("suraphop")
len(users)

2

In [74]:
users

['Brian', 'suraphop']

In [75]:
"suraphop" in users

True

In [76]:
"van" in users

False

In [77]:
"free" in "Python is free and open source."

True

In [78]:
"XS" in "XSOKKIS"

True

In [79]:
users

['Brian', 'suraphop']

In [80]:
users.sort()
users

['Brian', 'suraphop']

In [81]:
users.sort(reverse=True)
users

['suraphop', 'Brian']

#### Dictionaries

In [82]:
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161,
                  }
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [83]:
exchange_rates["EURUSD"] #access dicts

1.1152

In [84]:
exchange_rates["EURUSD"] = 1.2
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [85]:
del exchange_rates["EURUSD"]
exchange_rates

{'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [86]:
exchange_rates.pop("GBPUSD")
exchange_rates

{'AUDUSD': 0.6161}

#### Tuple

In [87]:
currencies = ("EUR","GBP","AUD")
currencies
#currencies[0] = "AAA"

('EUR', 'GBP', 'AUD')

In [88]:
currencies + ("SGD",)

('EUR', 'GBP', 'AUD', 'SGD')

### Set

In [89]:
portfolio1 = {"USD","EUR","SGD","CHF"}
portfolio2 = {"EUR","SGD","CAD"}

In [90]:
portfolio1.union(portfolio2)

{'CAD', 'CHF', 'EUR', 'SGD', 'USD'}

In [91]:
portfolio1.intersection(portfolio2)

{'EUR', 'SGD'}

## Control flow

#### If Statement

In [92]:
#value checking
i = 20

if i < 5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
elif i <= 15:
    print("i is between 10 and 15")
elif i <= 20:
    print("i is between 15 and 20")
else:
    print("i is bigger than 20")

i is between 15 and 20

In [93]:
#flag checking
is_important = True

if is_important:
    print("This is an important.")
else:
    print("This is not important.")

This is an important.

In [94]:
#checking with lists
values = [10,11]
if values:
    print(f"The following values were provided: {values}")
else:
    print("There were no values provided.")

The following values were provided: [10, 11]

In [95]:
is_important = False 
print("important") if is_important else print("not important")

not important

#### For and While loops

In [96]:
currencies = ["USD","HKD","AUD"]
currencies

['USD', 'HKD', 'AUD']

In [97]:
for currencie in currencies:
    print(currencie)

USD
HKD
AUD

In [98]:
range(5)

range(0, 5)

In [99]:
list(range(5))

[0, 1, 2, 3, 4]

In [100]:
for i in range(5):
    print(i)

0
1
2
3
4

In [101]:
for i,currency in enumerate(currencies):
    print(i,currency)

0 USD
1 HKD
2 AUD

In [102]:
#dict
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161,
                  }
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [103]:
for exchange_rate in exchange_rates:
    print(exchange_rate)

EURUSD
GBPUSD
AUDUSD

In [104]:
for exchange_rate in exchange_rates.keys():
    print(exchange_rate)

EURUSD
GBPUSD
AUDUSD

In [105]:
for exchange_rate in exchange_rates.values():
    print(exchange_rate)

1.1152
1.2454
0.6161

In [106]:
for exchange_rate in exchange_rates.items():
    print(exchange_rate)

('EURUSD', 1.1152)
('GBPUSD', 1.2454)
('AUDUSD', 0.6161)

#### loops structure

In [107]:
for i in range(15):
    if i == 10:
        break
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [108]:
for i in range(10):
    if i == 2:
        continue
    else:
        print(i)

0
1
3
4
5
6
7
8
9

In [109]:
for i in range(1,4):
    print(i)
print("end")

1
2
3
end

In [110]:
n = 0
while n <= 5:
    print(n)
    n += 1

0
1
2
3
4
5

#### Comprehensions

In [111]:
currency_pairs = ["USDJPY","USDGBP","USDCHF",
                 "USDCAD","AUDUSD","NZDUSD"]
currency_pairs

['USDJPY', 'USDGBP', 'USDCHF', 'USDCAD', 'AUDUSD', 'NZDUSD']

In [112]:
usd_quote = []
for pair in currency_pairs:
    if pair[3:] == "USD":
        usd_quote.append(pair[:3])
usd_quote

['AUD', 'NZD']

In [113]:
[pair[3:] for pair in currency_pairs if pair[:3] == "USD"]

['JPY', 'GBP', 'CHF', 'CAD']

In [114]:
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161,
                  }
exchange_rates

{'EURUSD': 1.1152, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [115]:
{ k:v*100 for (k,v) in exchange_rates.items()}

{'EURUSD': 111.52, 'GBPUSD': 124.54, 'AUDUSD': 61.61}

## Functions

In [116]:
def test():
    '''for print hello world'''
    print("hello world")
test()

hello world

In [117]:
def calculator(input_1,input_2):
    '''input 2 numerics  for caculate'''
    result = input_1 + input_2
    return result

calculator(10,15)

25

In [118]:
def calculator(input_1,input_2):
    '''input 2 numerics  for caculate'''
    result = input_1 - input_2
    msg = 'ok'
    return result,msg

result,msg = calculator(10,15)
print(result)
print(msg)

-5
ok

In [119]:
result,msg = calculator(input_2=10,input_1=15)
print(result)
print(msg)

5
ok

In [120]:
def convert_to_celsius(degrees,source="fahrenheit"):
    '''convert celsius to fahrenheit or kelvin'''
    if source.lower() == "fahrenheit":
        return (degrees-32) * (5/9)
    elif source.lower() == "kelvin":
        return degrees - 273.15
    else:
        return f"Don't know how to convert form {source}"

In [121]:
convert_to_celsius(100)

37.77777777777778

In [122]:
convert_to_celsius(100,"kelvin")

-173.14999999999998

In [123]:
convert_to_celsius(degrees=100,source="kelvin")

-173.14999999999998

## Modules

In [124]:
import temperature

In [125]:
temperature.convert_to_celsius(100)

37.77777777777778

In [126]:
temperature.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [127]:
import temperature as tp

In [128]:
tp.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [131]:
from temperature import convert_to_celsius,TEMPERATURE_SCALES

In [130]:
convert_to_celsius(150)

65.55555555555556

In [132]:
TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

## Date and Time

In [133]:
import datetime as dt

In [134]:
timestamp = dt.datetime(2020,1,31,14,30)
timestamp

datetime.datetime(2020, 1, 31, 14, 30)

In [135]:
timestamp.day

31

In [136]:
timestamp.hour

14

In [137]:
timestamp - dt.timedelta(2020,1,30,23,59)

datetime.datetime(2014, 7, 21, 13, 30, 58, 976970)

In [141]:
timestamp + dt.timedelta(days=1,hours=4,minutes=11)

datetime.datetime(2020, 2, 1, 18, 41)

In [143]:
timestamp.strftime("%d/%m/%Y %H:%M")

'31/01/2020 14:30'